types-requests==2.32.0.20250515
types-urllib3==1.26.25.14
types-psycopg2==2.9.21.20250516
pandas-stubs==2.2.3.250308
# for docker currently no official stubs exist, see https://github.com/docker/docker-py/issues/2796
docker-stubs @ git+https://github.com/rdozier-work/docker-stubs@9de7906804ae912f1d644c97b617ac77e784fca8
pytest==8.3.5
pytest-env==1.1.5
freezegun~=1.5.1

ruff~=0.12.1
mypy~=1.15.0
